Repository hmcts/vh-video-web, changes with the owners that CODEOWNERS names for each.
All owners: @hmcts/vh, @hmcts/vh-qa, @vh-DevOps

Test added to increase coverage
  VideoWeb/VideoWeb/ClientApp/src/app/shared/directives/tooltip.directive.spec.ts
Owners: @hmcts/vh-qa

reconfigured judge alert to not fire, when unexpected result returned, will simply log error.
  VideoWeb/VideoWeb.AcceptanceTests/VideoWeb.AcceptanceTests.csproj
  VideoWeb/VideoWeb.AcceptanceTests/packages.lock.json
  VideoWeb/VideoWeb.Common/VideoWeb.Common.csproj
  VideoWeb/VideoWeb.IntegrationTests/packages.lock.json
  VideoWeb/VideoWeb.UnitTests/Controllers/AudioRecordingControllerTest.cs
  VideoWeb/VideoWeb.UnitTests/VideoWeb.UnitTests.csproj
  VideoWeb/VideoWeb.UnitTests/packages.lock.json
  VideoWeb/VideoWeb/ClientApp/package.json
  VideoWeb/VideoWeb/ClientApp/src/app/services/clients/api-client.ts
  VideoWeb/VideoWeb/ClientApp/src/app/waiting-space/judge-waiting-room/judge-waiting-room.component.ts
  VideoWeb/VideoWeb/ClientApp/src/app/waiting-space/judge-waiting-room/tests/judge-waiting-room.component.spec.ts
  VideoWeb/VideoWeb/Controllers/AudioRecordingController.cs
  VideoWeb/VideoWeb/VideoWeb.csproj
  VideoWeb/VideoWeb/packages.lock.json
Owners: @hmcts/vh-qa

Added text input for audio
  VideoWeb/VideoWeb/ClientApp/src/app/shared/chat-input-box/chat-input-box.component.html
  VideoWeb/VideoWeb/ClientApp/src/assets/i18n/cy.json
  VideoWeb/VideoWeb/ClientApp/src/assets/i18n/en.json
Owners: @hmcts/vh-qa

provide pr details to sonar scanner cli step
  docker-compose.tests.yml
  scripts/tests/run-tests.sh
Owners: @hmcts/vh-qa

disable steps for old pipeline
  azure-pipelines.yml
Owners: @vh-DevOps

use new template
  azure-pipelines.sds.pr-release.yml
  docker-compose.tests.yml
  scripts/tests/run-tests.sh
  tests/Dockerfile
Owners: @hmcts/vh-qa

update path
  scripts/tests/run-tests.sh
  vh-sonar-settings.xml
Owners: @hmcts/vh-qa

update dockerfile to use node 14x
  VideoWeb/VideoWeb/ClientApp/package-lock.json
  VideoWeb/VideoWeb/ClientApp/package.json
  tests/Dockerfile
Owners: @hmcts/vh-qa

disable integration tests for old pipeline move global.json to same folder as sln
  VideoWeb/VideoWeb/ClientApp/src/karma.conf.js
  VideoWeb/global.json
  azure-pipelines.yml
Owners: @hmcts/vh-qa, @vh-DevOps

apply npm fix
  tests/Dockerfile
Owners: @hmcts/vh-qa

update karma and jamine reporter in hope to fix report bug
  .gitignore
  VideoWeb/VideoWeb/ClientApp/package-lock.json
  VideoWeb/VideoWeb/ClientApp/package.json
  scripts/tests/run-tests.sh
  tests/Dockerfile
Owners: @hmcts/vh-qa

Unit test coverage increased
  VideoWeb/VideoWeb/ClientApp/src/app/shared/directives/tooltip.directive.spec.ts
  VideoWeb/VideoWeb/ClientApp/src/app/shared/directives/tooltip.directive.ts
Owners: @hmcts/vh-qa

Disable rule S1133 to unblock pr. This method is marked for removal but cannot be removed yet
  VideoWeb/VideoWeb.Common/VideoWeb.Common.csproj
  VideoWeb/VideoWeb.Contract/VideoWeb.Contract.csproj
  VideoWeb/VideoWeb.EventHub/VideoWeb.EventHub.csproj
  VideoWeb/VideoWeb/ClientApp/package-lock.json
  VideoWeb/VideoWeb/Controllers/AudioRecordingController.cs
  VideoWeb/VideoWeb/VideoWeb.csproj
  VideoWeb/VideoWeb/packages.lock.json
Owners: @hmcts/vh-qa

VIH-9740 all participants status not announced (#1982)
  VideoWeb/VideoWeb/ClientApp/src/app/shared/chat-input-box/chat-input-box.component.html
  VideoWeb/VideoWeb/ClientApp/src/assets/i18n/cy.json
  VideoWeb/VideoWeb/ClientApp/src/assets/i18n/en.json
Owners: @hmcts/vh-qa

revert to master branch for templates
  azure-pipelines.sds.pr-release.yml
Owners: @hmcts/vh-qa

Allow only alphanumeric characters
  VideoWeb/VideoWeb/ClientApp/src/app/shared/pipes/safe.pipe.spec.ts
  VideoWeb/VideoWeb/ClientApp/src/app/shared/pipes/safe.pipe.ts
  VideoWeb/VideoWeb/ClientApp/src/app/shared/shared.module.ts
  VideoWeb/VideoWeb/ClientApp/src/app/waiting-space/judge-participant-status-list/judge-participant-status-list.component.html
  VideoWeb/VideoWeb/ClientApp/src/app/waiting-space/judge-participant-status-list/judge-participant-status-list.component.spec.ts
  VideoWeb/VideoWeb/ClientApp/src/app/waiting-space/judge-participant-status-list/judge-participant-status-list.component.ts
Owners: @hmcts/vh-qa

Create TEST.md
  TEST.md
Owners: @hmcts/vh-qa

Judge-waiting room to monitor wowza listener participant and display alert if they're missing
  VideoWeb/VideoWeb.AcceptanceTests/VideoWeb.AcceptanceTests.csproj
  VideoWeb/VideoWeb.AcceptanceTests/packages.lock.json
  VideoWeb/VideoWeb.Common/VideoWeb.Common.csproj
  VideoWeb/VideoWeb.IntegrationTests/packages.lock.json
  VideoWeb/VideoWeb.UnitTests/Controllers/UserDataControllerTest.cs
  VideoWeb/VideoWeb.UnitTests/VideoWeb.UnitTests.csproj
  VideoWeb/VideoWeb.UnitTests/packages.lock.json
  VideoWeb/VideoWeb/ClientApp/src/app/waiting-space/judge-waiting-room/judge-waiting-room.component.ts
  VideoWeb/VideoWeb/ClientApp/src/app/waiting-space/judge-waiting-room/tests/judge-waiting-room.component.spec.ts
  VideoWeb/VideoWeb/ClientApp/src/app/waiting-space/services/video-call.service.ts
  VideoWeb/VideoWeb/ClientApp/src/typings.d.ts
  VideoWeb/VideoWeb/Controllers/UserDataController.cs
  VideoWeb/VideoWeb/VideoWeb.csproj
  VideoWeb/VideoWeb/packages.lock.json
Owners: @hmcts/vh-qa

Safe pipe removed from view
  VideoWeb/VideoWeb/ClientApp/src/app/waiting-space/judge-participant-status-list/judge-participant-status-list.component.html
Owners: @hmcts/vh-qa

Removed a modified file from pull request
  VideoWeb/VideoWeb/ClientApp/src/app/waiting-space/judge-participant-status-list/judge-participant-status-list.component.html
Owners: @hmcts/vh-qa

Upgrade RestSharp due to vulnerability in existing version
  VideoWeb/VideoWeb.AcceptanceTests/VideoWeb.AcceptanceTests.csproj
  VideoWeb/VideoWeb.AcceptanceTests/packages.lock.json
Owners: @hmcts/vh-qa

revert back due to restshape in AC common project being old
  VideoWeb/VideoWeb.AcceptanceTests/VideoWeb.AcceptanceTests.csproj
  VideoWeb/VideoWeb.AcceptanceTests/packages.lock.json
Owners: @hmcts/vh-qa

Pipe removed
  VideoWeb/VideoWeb/ClientApp/src/app/shared/pipes/safe.pipe.spec.ts
  VideoWeb/VideoWeb/ClientApp/src/app/shared/pipes/safe.pipe.ts
  VideoWeb/VideoWeb/ClientApp/src/app/waiting-space/judge-participant-status-list/judge-participant-status-list.component.spec.ts
  VideoWeb/VideoWeb/ClientApp/src/app/waiting-space/judge-participant-status-list/judge-participant-status-list.component.ts
Owners: @hmcts/vh-qa

Pipe removed from share module
  VideoWeb/VideoWeb/ClientApp/src/app/shared/shared.module.ts
Owners: @hmcts/vh-qa

Pipe removed from shared module
  VideoWeb/VideoWeb/ClientApp/src/app/shared/shared.module.ts
Owners: @hmcts/vh-qa

Use white font colour in hearing only
  VideoWeb/VideoWeb/ClientApp/src/app/shared/chat-input-box/chat-input-box.component.html
  VideoWeb/VideoWeb/ClientApp/src/app/shared/chat-input-box/chat-input-box.component.ts
  VideoWeb/VideoWeb/ClientApp/src/app/waiting-space/chat-panel/chat-panel.component.html
Owners: @hmcts/vh-qa

replace old notifier with new one
  VideoWeb/VideoWeb.EventHub/Enums/EventType.cs
  VideoWeb/VideoWeb.EventHub/Handlers/AllocationHearingsEventHandler.cs
  VideoWeb/VideoWeb.EventHub/Handlers/Core/EventHandlerBase.cs
  VideoWeb/VideoWeb.EventHub/Hub/IEventHubClient.cs
  VideoWeb/VideoWeb.UnitTests/Builders/ConferenceDetailsResponseBuilder.cs
  VideoWeb/VideoWeb.UnitTests/Builders/EventComponentHelper.cs
  VideoWeb/VideoWeb.UnitTests/Controllers/ConferenceController/GetConferenceByIdTests.cs
  VideoWeb/VideoWeb.UnitTests/Controllers/InternalEventController/AllocationHearingsTests.cs
  VideoWeb/VideoWeb.UnitTests/EventHandlers/AllocationHearingsEventHandlerTests.cs
  VideoWeb/VideoWeb.UnitTests/EventHandlers/EventHandlerFactoryTests.cs
  VideoWeb/VideoWeb.UnitTests/Helpers/AllocationHearingsEventNotifierTests.cs
  VideoWeb/VideoWeb.UnitTests/InternalEvents/AllocationUpdatedEventNotifierTests.cs
  VideoWeb/VideoWeb/ClientApp/package.json
  VideoWeb/VideoWeb/ClientApp/src/app/services/clients/api-client.ts
  VideoWeb/VideoWeb/ClientApp/src/app/services/events.service.ts
  VideoWeb/VideoWeb/ClientApp/src/app/services/models/new-allocation-message.ts
  VideoWeb/VideoWeb/ClientApp/src/app/services/models/updated-allocation-message.ts
  VideoWeb/VideoWeb/ClientApp/src/app/services/models/updated-allocation.ts
  VideoWeb/VideoWeb/ClientApp/src/app/testing/mocks/mock-events-service.ts
  VideoWeb/VideoWeb/ClientApp/src/app/vh-officer/command-centre/command-centre.component.ts
  VideoWeb/VideoWeb/ClientApp/src/app/waiting-space/services/notification-toastr.service.ts
  VideoWeb/VideoWeb/Controllers/InternalEventController.cs
  VideoWeb/VideoWeb/Helpers/AllocationHearingsEventNotifier.cs
  VideoWeb/VideoWeb/InternalEvents/AllocationUpdatedEventNotifier.cs
  VideoWeb/VideoWeb/InternalEvents/Interfaces/IAllocationHearingsEventNotifier.cs
Owners: @hmcts/vh-qa

add conference id so that user can be have the conference added to their group
  VideoWeb/VideoWeb.EventHub/Models/UpdatedAllocationDto.cs
  VideoWeb/VideoWeb/ClientApp/src/app/services/events.service.ts
  VideoWeb/VideoWeb/ClientApp/src/app/services/models/updated-allocation.ts
  VideoWeb/VideoWeb/InternalEvents/AllocationUpdatedEventNotifier.cs
Owners: @hmcts/vh-qa

add internal event for allocation updated
  VideoWeb/VideoWeb.Common/Models/Conference.cs
  VideoWeb/VideoWeb.Contract/Request/AllocationUpdatedRequest.cs
  VideoWeb/VideoWeb.EventHub/Hub/IEventHubClient.cs
  VideoWeb/VideoWeb.EventHub/Models/UpdatedAllocationDto.cs
  VideoWeb/VideoWeb.UnitTests/Builders/EventComponentHelper.cs
  VideoWeb/VideoWeb.UnitTests/Controllers/InternalEventController/ConferenceAddedTests.cs
  VideoWeb/VideoWeb.UnitTests/Controllers/InternalEventController/ParticipantsUpdatedTests.cs
  VideoWeb/VideoWeb.UnitTests/Controllers/QuickLinkController/JoinConferenceAsAQuickLinkUser.cs
  VideoWeb/VideoWeb.UnitTests/InternalEvents/AllocationUpdatedEventNotifierTests.cs
  VideoWeb/VideoWeb.UnitTests/InternalEvents/NewConferenceAddedEventNotifierTests.cs
  VideoWeb/VideoWeb.UnitTests/InternalEvents/ParticipantTilePositionHelperTest.cs
  VideoWeb/VideoWeb.UnitTests/InternalEvents/ParticipantsUpdatedEventNotifierTests.cs
  VideoWeb/VideoWeb.UnitTests/Services/ParticipantsServiceTests.cs
  VideoWeb/VideoWeb/Controllers/InternalEventController.cs
  VideoWeb/VideoWeb/Controllers/QuickLinksController.cs
  VideoWeb/VideoWeb/Extensions/ConfigureServicesExtensions.cs
  VideoWeb/VideoWeb/Helpers/Interfaces/IAllocationHearingsEventNotifier.cs
  VideoWeb/VideoWeb/InternalEvents/AllocationUpdatedEventNotifier.cs
  VideoWeb/VideoWeb/InternalEvents/Interfaces/IAllocationHearingsEventNotifier.cs
  VideoWeb/VideoWeb/InternalEvents/Interfaces/IAllocationUpdatedEventNotifier.cs
  VideoWeb/VideoWeb/InternalEvents/Interfaces/INewConferenceAddedEventNotifier.cs
  VideoWeb/VideoWeb/InternalEvents/Interfaces/IParticipantsUpdatedEventNotifier.cs
  VideoWeb/VideoWeb/InternalEvents/NewConferenceAddedEventNotifier.cs
  VideoWeb/VideoWeb/InternalEvents/ParticipantsUpdatedEventNotifier.cs
  VideoWeb/VideoWeb/Mappings/ConferenceMapper.cs
  VideoWeb/VideoWeb/Services/ParticipantService.cs
Owners: @hmcts/vh-qa

1. added functions to hearing.ts to add and update endpoint
  VideoWeb/VideoWeb.EventHub/Hub/IEventHubClient.cs
  VideoWeb/VideoWeb/ClientApp/src/app/services/events.service.ts
  VideoWeb/VideoWeb/ClientApp/src/app/shared/models/endpoints-updated-message.ts
  VideoWeb/VideoWeb/ClientApp/src/app/shared/models/hearing.ts
  VideoWeb/VideoWeb/ClientApp/src/app/waiting-space/services/notification-toastr.service.ts
  VideoWeb/VideoWeb/ClientApp/src/app/waiting-space/waiting-room-shared/waiting-room-base.component.ts
  VideoWeb/VideoWeb/Helpers/EndpointsUpdatedEventNotifier.cs
Owners: @hmcts/vh-qa

Fix lint
  VideoWeb/VideoWeb/ClientApp/src/app/shared/chat-input-box/chat-input-box.component.ts
Owners: @hmcts/vh-qa

Update the participant list without ineffcient ngDoCheck approach
  VideoWeb/VideoWeb/ClientApp/package-lock.json
  VideoWeb/VideoWeb/ClientApp/src/app/services/events.service.spec.ts
  VideoWeb/VideoWeb/ClientApp/src/app/shared/directives/scroll-trigger.directive.spec.ts
  VideoWeb/VideoWeb/ClientApp/src/app/shared/models/endpoints-updated-message.ts
  VideoWeb/VideoWeb/ClientApp/src/app/testing/mocks/mock-events-service.ts
  VideoWeb/VideoWeb/ClientApp/src/app/waiting-space/waiting-room-shared/waiting-room-base.component.ts
  VideoWeb/VideoWeb/ClientApp/src/app/waiting-space/waiting-room-shared/wr-participant-list-shared.component.spec.ts
  VideoWeb/VideoWeb/ClientApp/src/app/waiting-space/waiting-room-shared/wr-participant-list-shared.component.ts
  VideoWeb/VideoWeb/Controllers/InternalEventController.cs
Owners: @hmcts/vh-qa

added jasmine tests
  VideoWeb/VideoWeb/ClientApp/src/app/testing/mocks/mock-video-call.service.ts
  VideoWeb/VideoWeb/ClientApp/src/app/waiting-space/judge-waiting-room/judge-waiting-room.component.ts
  VideoWeb/VideoWeb/ClientApp/src/app/waiting-space/judge-waiting-room/tests/judge-waiting-room.component.spec.ts
  VideoWeb/VideoWeb/ClientApp/src/app/waiting-space/services/video-call.service.spec.ts
  VideoWeb/VideoWeb/ClientApp/src/app/waiting-space/services/video-call.service.ts
Owners: @hmcts/vh-qa

VIH-9828 Adjust chat message font colour for light backgrounds (#1989)
  VideoWeb/VideoWeb/ClientApp/src/app/shared/chat-input-box/chat-input-box.component.html
  VideoWeb/VideoWeb/ClientApp/src/app/shared/chat-input-box/chat-input-box.component.ts
  VideoWeb/VideoWeb/ClientApp/src/app/waiting-space/chat-panel/chat-panel.component.html
Owners: @hmcts/vh-qa

VIH-8607 - Video-web | All Users | Ambiguous form label (AA) (#1980)
  VideoWeb/VideoWeb/ClientApp/src/app/on-the-day/host-hearing-list/host-hearing-table/host-hearing-table.component.html
  VideoWeb/VideoWeb/ClientApp/src/app/on-the-day/participant-hearings/hearing-list-table.component.html
Owners: @hmcts/vh-qa

CODEOWNERS:

* @hmcts/vh
* @hmcts/vh-qa
azure-pipelines.yml @vh-DevOps
azure-pipelines.release.yml @vh-DevOps
azure-pipelines.nightly.yml @vh-DevOps
azure-pipelines.beta.yml @vh-DevOps
